<!DOCTYPE html>
<html>
    <head>
        <link href= "/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Edit Profile</h1>
        <script>
            if(query_data[0]['birthday']==undefined){
                query_data[0]['birthday']='empty';
            }
            if(query_data[0]['gender']==undefined){
                query_data[0]['gender']='empty';
            }
            if(query_data[0]['biography']==undefined){
                query_data[0]['biography']='empty';
            }
        </script>
        <form action="/main", method="POST">
            <label for="birthday">Your saved birthday is: <%= query_data[0]['birthday'] %></label><br>
            <input type="birthday" name="birthday" id="birthday"><br>
            <label for="gender">Your gender is: <%= query_data[0]['gender'] %></label><br>
            <input type="gender" name="gender" id="gender"><br>
            <label for="biography">Your biography is: <%= query_data[0]['biography'] %></label><br>
            <input type="biography" name="biography" id="biography"><br>
            <input type="submit" name="save" id="save" value="Save">
        </form>
    </body>
</html>